<div class="cookies border">
  <div>
    <p>Este sitio web utiliza cookies para garantizar que obtenga la mejor experiencia en nuestro sitio web <a href="#">Más
      información</a></p>
  </div>
  <br>
  <div>
    <button id="button-cookies" class="button">Aceptar</button>
  </div>
</div>