<div class="menu-bottom">
  <ul>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/sobre-mi">Sobre mi</a>
    </li>
    <li>
      <a href="/contacto">Contacto</a>
    </li>
  </ul>
</div>