<div style="flex: 1 1 auto;
        margin: 0.3em;
        position: relative;
        width: 12em;
        height: 100%;
        overflow: hidden;">
  <figure>
    <img class="blog-img" src="{{feature_image }}" />
  </figure>
  <a href="{{url}}">
    <div class="text-overlay">
      <h2>{{name}} {{count.posts}}</h2>
    </div>
  </a>
</div>