<div class="widget border">
  <section class="widget-profile">
    <img src="https://res.cloudinary.com/rserrano/image/upload/ar_1:1,b_rgb:262c35,c_fill,e_bgremoval,g_auto,r_max,w_1000/v1611340481/blog/IMG_0206_ezq1zj.jpg" alt="">
    <p><b>Roberto Serrano Diaz-Grande</b></p>
    <p><i>Desarrollador Web FullStack</i></p>
  </section>
</div>